
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/


/* post
-----------------------------------------------------------------*/
.post {
	position: relative;
}

.post-thumbnail {
	img {
		width: 100%;
		height: auto;
	}
}

.post-content {
	padding: 2rem 0;
}

.entry-title {
	font-family: $body-font;
	font-size: 1.125rem;
	font-weight: 300;
}

.entry-meta {
	a {
		font-size: 0.9375rem;
		font-weight: 300;
	}
}