/*-----------------------------------------------------------------------------------
	utilities.scss
-----------------------------------------------------------------------------------*/


//-------------------- Fonts --------------------//

// Font Family
.body-font { font-family: $body-font; }
.heading-font { font-family: $heading-font; }

// Text Color
.text-black { color: #000; }


//-------------------- Image --------------------//

img {
	&.img-full {
		max-width: 100%;
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.bg-cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

//-------------------- Section ------------------//

.section {
	padding-top: $section-spacer;
	padding-bottom: $section-spacer;
}