
/* ----------------------------------------------------------------

	widgets.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Widgets
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for widgets. Thanks!
-----------------------------------------------------------------*/


.widget {
	margin-bottom: 1.25rem;

	.widget-title {
		font-family: $body-font;
		font-size: 0.875rem;
		font-weight: 500;
		margin-bottom: 0.875rem;
		text-transform: uppercase;
	}

	// Widget - Social
	&.widget-social {
		.social-icons {
			li {
				padding: 0 $spacer*0.25;
	
				&:last-child {
					padding-right: 0;
				}
		
				a {
					background-color: #f7fafc;
					color: #848484;
					line-height: $spacer*1.8125;
					display: flex;
					justify-content: center;
					align-items: center;
					width: $spacer*2.5;
					height: $spacer*2.5;
					border-radius: $spacer*0.5;
					transition: all 0.3s ease-in-out;
		
					&:hover {
						background-color: $theme-color;
						color: $white;
					}
				}
			}
		}
	}

	// Widget - Links
	&.widget-links {
		ul {
			li {
				margin-bottom: 0.75rem;

				a {
					font-weight: 300;
					transition: all 0.3s ease-in-out;

					&:hover {
						color: $theme-color;
					}
				}
			}
		}
	}

	&.widget-custom-html {
		a {
			display: block;

			i {
				margin-right: 0.875rem;
				font-size: 1.25rem;
			}

			span {
				font-size: 0.875rem;
				font-weight: 300;
			}
		}
	}

	// Widget - Payments
	&.widget-payment {
		.payments {
			display: flex;

			.payment-icon {
				text-align: center;
				margin-left: 0.4rem;
				width: 4rem;
				padding: 0.125rem 0;
				background-color: $third-color;
				
				img {
					width: 3rem;
				}
			}
		}
	}
}